<h1>Home Page</h1>
<span>
  While working with
  <a class="special-keyword" href="https://react.dev/" target="_blank">React</a
  >, we usually just use the
  <a
    class="special-keyword"
    href="https://reactrouter.com/en/main/components/browserrouter"
    target="_blank"
    >Browser Router</a
  >
  from React Router without knowing how it works internally.
</span>
<span>
  This is just a sample project to understand the internal working of a router
  in bigger frameworks and understand the history API that each of them uses
  under the hood.
</span>
<span>Go ahead and click the links on the Navbar</span>
